# YOLOv5 requirements
# Usage: pip install -r requirements.txt

# # Base ------------------------------------------------------------------------
flask
imagezmq 
gitpython
matplotlib
numpy
opencv-python
pillow
psutil  # system resources
PyYAML
requests
scipy
thop  # FLOPs computation
torch # see https://pytorch.org/get-started/locally (recommended)
torchvision
tqdm
ultralytics  # https://ultralytics.com
# protobuf<=3.20.1  # https://github.com/ultralytics/yolov5/issues/8012

# # Logging ---------------------------------------------------------------------
tensorboard
clearml
comet

# Plotting --------------------------------------------------------------------
pandas
seaborn

# Export ----------------------------------------------------------------------
# coremltools # CoreML export
# onnx # ONNX export
# onnx-simplifier  # ONNX simplifier
# nvidia-pyindex  # TensorRT export
# nvidia-tensorrt  # TensorRT export
# scikit-learn  # CoreML quantization
# #tensorflow==2.4.0  # TF exports (-cpu, -aarch64, -macos)
# tensorflowjs  # TF.js export
# openvino-dev  # OpenVINO export
# Deploy ----------------------------------------------------------------------
# setuptools # Snyk vulnerability fix
# tritonclient[all]~=2.24.0

# Extras ----------------------------------------------------------------------
# ipython  # interactive notebook
# mss  # screenshots
# albumentations>=1.0.3
# pycocotools>=2.0.6  # COCO mAP